<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="app.css" type="text/css"/>
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</head>
<body>
<header>
  <h1>todo<span>list</span></h1>
</header>
<section class="section">
  <form>
    <input type="text" class="form-control" id="todoInput" placeholder="Insert task here....">
  </form>
</section>

<ul class="list">
  <li class="task">Get food<span>X</span></li>
  <li class="task completed">Get wine<span>X</span></li>
</div>
<script
			  src="http://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
<script type="text/javascript" src="app.js"></script>
</body>
